#pipeline-wrapper {
    padding: 30px;
    /*width: 500px;*/
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f4f4;
}

.pipeline-step {
    margin-bottom: 10px;
}

.step-core .btn-step-del {
    /* disable delete button for a core step */
    pointer-events: none;
    opacity: .45;
    /* / disable delete button for a core step */
}

.pipeline-sep {
    margin-bottom: 10px;;
}

.pipline-step-btns button {
    font-size: 11px;
    height: 21px;
    min-width: 20px;
    padding: 2px;
    border-width: 1px;
}

#right-panel {
}
